# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env
.env
.env.local
.env*.local
service-account.json

# misc
.DS_Store
*.pem
npm-debug.log*
.vercel
*.tsbuildinfo
next-env.d.ts
